/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

header nav ul li img {
  width: 27px;
}

.project-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.project-modification-text {
  margin-left: 50px;
}

.container-img-modal {
  display: flex;
  flex-wrap: wrap;
}

#modal > div > div > div > figure {
  width: calc(100% / 5);
  box-sizing: border-box;
}

#modal > div > div > div > figure > img {
  max-width: 87%;
  height: auto;
}

#error {
  display: none;
  color: #d65353;
  margin-top: 10px;
}

li {
  cursor: pointer;
}

.logout-text {
  display: none;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 11px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.filters-projects {
  justify-content: center;
  gap: 1.5rem;
}

.step-1-modal {
  display: none;
}

.separator {
  height: 1px;
  background-color: #ccc;
  margin: 10px auto;
  max-width: 800px;
}

.add-photo-btn {
  display: block;
  margin: 35px auto;
  padding: 10px 40px;
  background-color: #1d6154;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Syne";
}

.add-photo-btn:hover {
  background-color: #8eafa6;
}

.delete-gallery-btn {
  display: block;
  margin: 20px auto;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: transparent;
  color: #d65353;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Syne";
}

.delete-gallery-btn:hover {
  background-color: #d65353;
  color: #fff;
  transition: 0.2s all ease-in-out;
}

.title-galerie-modal {
  font-size: 24px;
  text-align: center;
}

.bin {
  width: 15px;
  height: 15px;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 5px;
}

.delete-icon .bin {
  color: red;
  font-size: 24px;
  cursor: pointer;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-label:hover {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #e8f1f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 1px solid #ccc;
  color: #306685;
  background-color: #cbd6dc;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.preview-container {
  margin-top: 10px;
}

#image-preview {
  max-width: 100%;
  max-height: 300px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.custom-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.image-info {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.image-upload-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-info p {
  margin: 0 5px;
  font-size: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.form-group input,
.form-group select {
  padding: 12px;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  font-family: "Work Sans";
}

.form-group select {
  width: 100%;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top: 20px;
}

.submit-btn {
  display: block;
  margin: 25px auto;
  background-color: #b1b1b1;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  width: 75%;
  color: white;
  font-family: "Syne";
}

.submit-btn:hover {
  background-color: #1d6154;
  transition: 0.2s all ease-in-out;
}

.close-modal {
  font-size: 24px;
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.arrow-left {
  align-self: center;
  cursor: pointer;
}

.close-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 10px;
}

.container {
  position: relative;
  display: inline-block;
}

.container-step-1 {
  display: flex;
  flex-direction: column;
}

.modal-background {
  background: #e8f1f7;
  padding: 30px 100px;
}

.filters-btn {
  border: 1.9px solid #1d6154;
  border-radius: 25px;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s all ease-in-out;
  color: #1d6154;
  font-family: "Syne";
  margin-bottom: 3.5rem;
}

.filters-btn:hover {
  background-color: #8eafa6;
  color: white;
  border: 1px solid #8eafa6;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 20px;
  font-size: 1.2em;
}

nav li a {
  text-decoration: none;
  color: black;
}

li:hover {
  color: #b1663c;
}

.active {
  color: white;
  background-color: #1d6154;
}

#introduction {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  width: 400px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 8rem;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.modal {
  position: fixed;
  z-index: 1;
  display: none;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 25px 100px;
  border-radius: 5px;
  overflow: auto;
}

.modal-content {
  padding: 15px;
  background: white;
  width: 80%;
}

.modal .modal-content .edit-gallery-grid {
  width: 50%;
}
